/* Variables */
    /* Colors */
        /* Primary colors */

        $very-dark-blue: hsl(243, 87%, 12%);
        $desaturated-blue: hsl(238, 22%, 44%);

        /* Accent */

        $bright-blue: hsl(224, 93%, 58%);
        $moderate-cyan: hsl(170, 45%, 43%);

        /* Neutral */

        $light-grayish-blue: hsl(240, 75%, 98%);
        $light-gray: hsl(0, 0%, 75%);

    /* Typography */
        /* Heading, Call-To-Action, Header navigation */

        $primary-font: 'Raleway', sans-serif;

        /* Body */

        $secondary-font: "Open Sans", sans-serif;
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: $secondary-font;
}

h2,
h3 {
    font-family: $primary-font;
}

p {
    font-size: 1.2em;
}

.container { /* modifier for space on the edges */
    max-width: 100vw;
    margin: 0 120px
}

.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 50px;
        width: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 300px;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $very-dark-blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.column--left,
.column--right {
    max-width: 600px;
    img {
        width: 100%;
        height: auto;
    }
}

.header {
    display: flex;
    align-items: center;
    color: $very-dark-blue;
    // .header__left,
    // .header__right {
    //     max-width: 600px;
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }
}

.cta-form {
    width: 100%;
    display: flex;
    .cta-form__email {
        height: 40px;
        width: 65%;
        border: 1px solid $very-dark-blue;
        padding: 15px 20px;
        margin-right: 20px;
        border-radius: 2px;
    }
    .cta-form__submit {
        height: 40px;
        width: 35%;
        font-family: $primary-font;
        font-weight: 700;
        color: $light-grayish-blue;
        background-color: $bright-blue;
        border: 0;
        border-radius: 2px;
        box-shadow: 1px 1px 2px $desaturated-blue;
        cursor: pointer;
        &:hover,&:focus {
            box-shadow: none;
        }
        &:active {
            box-shadow: inset 0 0 5px $very-dark-blue;
        }
    }
}

.main {
    display: flex;
    margin-top: 150px;
    .testimonial {
        width: 60%;
        padding: 20px;
        margin-top: 50px;
        border-radius: 2px;
        box-shadow: 0 0 5px 2px $light-gray;
        blockquote {
            margin: 0 0 20px;
            &::before {
                content: url("../images/icon-quotes.svg");
                display: block;
            }
        }
        .testimonial__avatar {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
        span {
            position: relative;
            display: block;
            top: -50px;
            left: 60px;
        }
    }
}

#how-fylo-works {
    color: $moderate-cyan;
    &::after {
        content: url("../images/icon-arrow.svg");
        position: relative;
        top: 2px;
    }
}

.early-access {
    margin-top: 100px;
    padding: 60px 0;
    color: $light-grayish-blue;
    background-color: $desaturated-blue;
    .container {
        display: flex;
        align-items: center; 
        .early-access__right {
            width: 600px;
            .cta-form {
                display: flex;
                flex-direction: column;
                .cta-form__submit {
                    margin-top: 10px;
                    box-shadow: 1px 1px 2px $very-dark-blue;
                    transition: all .1s;
                    &:hover, &focus {
                        box-shadow: none;
                    }
                    &:active {
                        box-shadow: inset 0 0 5px $very-dark-blue;
                    }
                }
            }
        }
    }
}