/* Variables */
    /* Colors */
        /* Primary colors */

        $very-dark-blue: hsl(243, 87%, 12%);
        $desaturated-blue: hsl(238, 22%, 44%);

        /* Accent */

        $bright-blue: hsl(224, 93%, 58%);
        $moderate-cyan: hsl(170, 45%, 43%);

        /* Neutral */

        $light-grayish-blue: hsl(240, 75%, 98%);
        $light-gray: hsl(0, 0%, 75%);

    /* Typography */
        /* Heading, Call-To-Action, Header navigation */

        $primary-font: 'Raleway', sans-serif;

        /* Body */

        $secondary-font: "Open Sans", sans-serif;
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: $secondary-font;
}

h2,
h3 {
    font-family: $primary-font;
}

.container { /* modifier for space on the edges */
    max-width: 1200px;
    margin: 0 120px
}

.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 50px;
        width: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 300px;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $very-dark-blue;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    color: $very-dark-blue;
    .header__left,
    .header__right {
        max-width: 600px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .cta-form {
        width: 100%;
        display: flex;
        .cta-form__email {
            width: 65%;
            border: 1px solid $very-dark-blue;
            padding: 15px 20px;
            margin-right: 20px;
            border-radius: 2px;
        }
        .cta-form__submit {
            width: 35%;
            font-family: $primary-font;
            font-weight: 700;
            color: $light-grayish-blue;
            background-color: $bright-blue;
            border: 0;
            border-radius: 2px;
            box-shadow: 1px 1px 2px $desaturated-blue;
            cursor: pointer;
            transition: all .2s;
            &:hover,&:focus {
                box-shadow: 2px 2px 1px;
            }
            &:active {
                box-shadow: inset 1px 0 1px $very-dark-blue;
            }
        }
    }
}